html , body{
  margin: 0;
  padding: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 200px 1fr; /* 200px'lik sabit kenar çubuğu ve kalan kısım */
  height: 100vh; /* Sayfanın yüksekliği ekran yüksekliği kadar olacak */
  width: 100%;

}

/* Kenar çubuğu (sidebar) */
.sidebar {
  background-color: #333; /* Kenar çubuğu arkaplan rengi */
  color: #fff; /* Kenar çubuğu metin rengi */
}

/* İçerik alanı */
.content {
width: 100%;
box-sizing: border-box;
  
}